name: TagBot

on:
  repository_dispatch:
    types: [Registrator]

jobs:
  tag_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: JuliaRegistrator/TagBot@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
